<launch>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find stage_navigation)/launch/laser_amcl.launch">
    <arg name="map_file" value="$(find assignment6)/maps/laser_world_map.yaml" />
  </include>
  <node name="assignment6" pkg="assignment6" type="assignment6" output="screen" launch-prefix="xterm -e"/>
</launch>
