<launch>
  <group ns="stagesim">
    <node pkg="stage_ros" name="stageros" type="stageros" args="$(find assignment3)/world/empty.world" />
    <node pkg="assignment3" name="follow_carrot" type="follow_carrot_node" output="screen" />
    <node pkg="assignment3" name="triangle_planner" type="triangle_planner_node" output="screen" />
  </group>
</launch>
