<launch>
  <param name="/use_sim_time" value="true"/>
  <group ns="stagesim">
    <node pkg="stage_ros" name="stageros" type="stageros" args="$(find assignment3)/world/empty.world" />
    <node pkg="tf" type="static_transform_publisher" name="localizer" args="0 0 0 0 0 0 map odom 100" />
    <node pkg="assignment3" name="follow_carrot" type="follow_carrot_node" output="screen" />
    <node pkg="assignment3" name="rectangle_planner" type="rectangle_planner_node" output="screen" />
  </group>
</launch>
